:root {
    --first-color: #488cff;
    --second-color: #ffff8c;
    --inactive: none;
  }

body{
    background-color: var(--first-color);
    color: #fff;
    font-family: Montserrat !important;
}
#search-box .input-group{
  justify-content: space-between;
}
a{
  text-decoration: none;
}
a:visited {
  color: white;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}
#horizontal-scrollmenu img, #related_movies img, #generic_section img, #back_arrow{
  cursor: pointer;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
#tendencias{
  margin-top: 32px;
  margin-bottom: 32px;
}
.movie-container{
  text-align: center;
}
#categorias{
  margin-top: 1em;
}
#id28{color: lavender;}
#id12{color: lightblue;}
#id16{color: lightcyan;}
#id35{color: plum;}
#id80{color: greenyellow;}
#id99{color: lightgreen;}
#id18{color: lightgrey;}
#id10751{color: lightpink;}
#id14{color: lightsalmon;}
#id36{color: lightseagreen;}
#id27{color: lightskyblue;}
#id10402{color: lightsteelblue;}
#id9648{color: tomato;}
#id10749{color: linen;}
#id878{color: lime;}
#id10770{color: lightyellow;}
#id53{color: lightsteelblue;}
#id10752{color: springgreen;}
#id37{color: purple;}


#categorias li{
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}
#categorias ::marker{
 
  font-size: 20px;
}
#trendsTitleButtonCont{
    display: flex;
    justify-content: space-between;
    margin: 3em 0 2em;
}

.inactive{
  display: var(--inactive) !important;
}
#generic_section{
  margin-top:2em;
  margin-bottom:2em;
}
#generic_section h2{
  margin-bottom:.5em;
}
#generic_section img{
  max-width: 250px;
}
